

  @import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap');

html {
    height: 100%;
}

body{
    background: linear-gradient(117deg, #6F0550 0%, #DD0B64 35.31%, #FF5D57 69.69%, #CFB698 100%);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.separacao {
    width: 10%;
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 12px;
}

.formlogin{
    width: 400px;
    height: auto;
    background-color:#401C2A;
    border-radius: 10px;
    display: inline-block;
    text-align: center;   
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

img{
    width: 250px;
    margin-top: 0px;
    margin-left: -48px;
    display: inline-block;
}

.cadastrar{
    color: #FFF;
    text-align: center;
    font-family: 'Manjari', sem serifa;
    font-size: 20px;
    font-style: normal;
    font-weight: 70;
    line-height: normal;
    justify-content: center;
}
label{
    color: #FFF;
    font-family: 'Manjari', sem serifa;
    margin-left: -154px;
    font-weight: 50;
    
}

input{
    border-radius: 10px;
    border: none;
    background: #CFB698;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    padding-left: 10px;
    font-size: medium;
    
}

.efetuarcadastro{
    border-radius: 0px 0px 10px 10px;
    background-color: #FF5D57;
    width: 400px;
    height: 51px;
    margin-top: 5%;
    border: 0;
}

.efetuarcadastro:hover{
    background: #FFB4A2;
}
.efetuarcadastro {
    color: black;
    font-size: 20px;
    font-family: 'Manjari', sem serifa;
    font-weight:800;
}

.session {
    display: flex;
    font-size: 22px;
    margin-top: 2%;
    color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Manjari', sans-serif;
    font-weight: 700;
    text-shadow: 0.5px 0.5px 2px #000;
}

@media (max-width: 320px){
    .formlogin {
        width: 220px;
        height: 328px;
    }
    .separacao svg{
        width: 14px;
        height: 14px;
    }
    img{
        width: 150px;
        margin-left: -20px;
        margin-top: 4px;
    }
    .cadastrar{
        margin-top: 14px;
        font-size: 16px;
    }
    label{
        margin-left: -108px;
        font-weight: 10;
        font-size: 12px;
    }
    input{
        width: 150px;
        height: 20px;
        font-size: 11px;
    }
    .efetuarcadastro{
        width: 220px;
        height: 38px;
        margin-top: 26px;
    }
   
    .efetuarcadastro h3{
        font-size: 16px;
        margin-top: -14px;
    }
}

@media ( min-width: 321px) and (max-width: 768px){
    .formlogin {
        width: 280px;
        height: 380px;
    }
    
    img{
        width: 180px;
        margin-left: -20px;
        margin-top: 4px;
    }
    .cadastrar{
        margin-top: 16px;
        font-size: 18px;
    }
    label{
        margin-left: -114px;
        font-weight: 20;
        font-size: 14px;
    }
    input{
        width: 160px;
        height: 24px;
        font-size: 11px;
    }
    .efetuarcadastro{
        width: 280px;
        height: 40px;
        margin-top: 44px;
    }
    
    .efetuarcadastro h3{
        font-size: 18px;
        margin-top: -14px;
    }
}