
body{
    background: linear-gradient(117deg, #6F0550 0%, #DD0B64 35.31%, #FF5D57 69.69%, #CFB698 100%);
}


form{
    background-color:#401C2A;
    border-radius: 10px;
    display: inline-block;
    text-align: center;   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 300px;
}

.cadastrar{
    color: #FFF;
    text-align: center;
    
    text-edge: cap;
    font-family: Manjari;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    justify-content: center;
    
}

.efetuarcadastro{
    border-radius: 0px 0px 10px 10px;
    background: #FF5D57;
    
    
    
}

input{
    border-radius: 10px;
    background: #CFB698;
    box-shadow: 0px 4px 15px 7px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 30px;
    flex-shrink: 0;
}