@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;700&display=swap');

/*codigos para a pagina principal, se necessario altere o '.modal' para ficar no tamanho que precisa para o design*/

body {
    font-family: 'Manjari', sans-serif;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #cfb698
}

#figurecaption {
    min-height: 5%;
    max-height: 5%;
}

.escolherImg {
    max-height: 25px;
    min-height: 25px;
    padding: 0;
}

#imagem-preview {
    background-color: #00000000;
    min-width: 60%;
    height: 20vw;
    max-height: 50vh;
    width: auto;
    border-radius: 8px;
    object-fit: cover;
}

.botoesmodalcriarposts {
    width: 100%;
}

.modal {
    display: none;
}

.createModalposts {
    background-image: url(../assets/img-user-art.png);
    position: fixed;
    height: 85vh;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
}

#createModal {
    padding: 10px;
    width: 70vw;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #401c2a;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #6f0550;
}

#conteudopost {
    padding-left: 3%;
}


/*implemente os codigos do modal a partir daqui */
input, textarea {
    font-size: 1.5vw;
    border-radius: 5px;
    border: 1px #272727 solid;
    width: 50%;
}

.escolherImg {
    width: 80%;
    font-size: 17px;
}

.right img {
    object-fit: cover;
}

textarea {
    height: 15vh;
}

.inputsContainer {
    display: flex;
    height: 70vh;
    width: 100%;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.left {
    width: 60%;
}

.right {
    justify-content: center;
    width: 40%;
}

#createModal i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-x-lg::before{
    margin-top: 1px;
    font-size: 1.5vw;
}

@media screen and (max-width: 767px) {
    #createModal {
        height: 80%;
    }
    
    .createModalposts h2 {
        text-align: center;
    }

    .inputsContainer label {
        font-size: 2.5vw;
    }

    .escolherImg {
        min-height: 17px;
    }

    .inputsContainer input, .inputsContainer textarea, .inputsContainer select {
        font-size: 10px;
    }

    .inputsContainer {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    
    input, textarea {
        width: 50%;
    }

    .left {
        width: 100%;
        /* height: 60%; */
    }
    
    .right {
        width: 100%;
        /* height: 40%; */
    }

    .botoesmodalcriarposts {
        font-size: 3.5vw;
        line-height: 80%;
    }

    .botoesmodalcriarposts button {
        padding-bottom: 1%;
    }
}

@media screen and (max-width: 426px) {
    #createModal {
        height: 80%;
    }

    #createModal select {
        font-size: 3.5vw;
    }
}