@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;700&display=swap');

/*codigos para a pagina principal, se necessario altere o '.modal' para ficar no tamanho que precisa para o design*/

body {
    font-family: 'Manjari', sans-serif;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#imagem-preview {
    background-color: #6f0550;
    min-width: 60%;
    height: 50%;
    width: auto;
    border-radius: 8px;
}

.modal {
    display: none;
}

#createModal {
    background-image: url(../assets/img-user-art.png);
    position: fixed;
    height: 85vh;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    z-index: 2;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #401c2a;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #6f0550;
}


/*implemente os codigos do modal a partir daqui */
input, textarea {
    font-size: 1.5vw;
    border-radius: 5px;
    border: 1px #272727 solid;
    width: 50%;
}

.escolherImg {
    width: 80%;
    font-size: 1vw;
}

textarea {
    height: 15vh;
}

.inputsContainer {
    display: flex;
    height: 70vh;
    width: 100%;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.left {
    width: 60%;
}

.right {
    justify-content: center;
    width: 40%;
}

@media screen and (max-width: 767px) {
    .modal {
        height: 50vh;
    }
    .inputsContainer {
        flex-direction: column;
        align-items: center;
        height: 40vh;
    }
    
    input, textarea {
        width: 50%;
    }

    .left {
        width: 100%;
        height: 60%;
    }
    
    .right {
        width: 100%;
        height: 40%;
    }
}