@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;700&display=swap');

/*codigos para a pagina principal, se necessario altere o '.modal' para ficar no tamanho que precisa para o design*/

#body {
    font-family: 'Manjari', sans-serif;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #cfb698
}

.imagem-previewmep {
    background-color: #6f0550;
    min-width: 60%;
    height: 50%;
    width: auto;
    border-radius: 8px;
}

.rightmep img{
    height: 12vw;
}

.modal {
    display: none;
}

.editmodal {
    display: none;
    position: fixed;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(../assets/mod_edit_posts/fundo-roxo.png);
    background-size: cover;
    z-index: 4;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.editModal button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #401c2a;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #6f0550;
}


/*implemente os codigos do modal a partir daqui */
input, textarea, select {
    font-size: 1.5vw;
    border-radius: 5px;
    border: 1px #272727 solid;
    width: 70%;
}

.escolherImg {
    width: 80%;
    font-size: 1vw;
}

.editmodal textarea {
    height: 15vh;
}

.inputsContainermep {
    display: flex;
    height: 70vh;
    width: 100%;
}

.leftmep, .rightmep {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.leftmep {
    width: 60%;
}

.leftmep select{
    border-radius: 5px;
    font-size: 1.5vw;
    width: 70%;
    height: 29.2px;
    
}

.rightmep {
    justify-content: center;
    width: 40%;
}

.rightmep img {
    object-fit: cover;
    background-size: cover;
}

.rightmep input{
    width: 80%;
}

.EditarPost button {
    background-color: #6f054ff0;
    
}

.EditarPost button:hover {
    background-color: #770b57e2;
}

.EditarPost label {
    font-weight: 700;
}

.editmodal .Fechar {
    padding: 0.5vw;
    background-color: #6f054ff0;
    
    
}

.editmodal .Fechar:hover {
    background-color: #770b57e2;
}

.editmodal i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoesinferioresmep button{
    font-size: 1.5vw;
    padding-bottom: 2.3px;
}

.bi-x-lg::before {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
} 








@media screen and (min-width: 0px) and (max-width: 330px){

    .modal {
        height: 74%;
    }
    
    .editmodal {
        height: 65vh;
        background-image: url("../assets/mod_edit_posts/fundo-roxo-vertical.jpg");
        border-radius: 0 0 6px 6px;
    }

    .editmodal button{
        size: 1px;
        font-size: 1px;
    }
    
    .modal-container-edit{
        background-image: none;
    }

    .inputsContainermep {
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }

    .dados-edit h2 {
        margin-left: -5%;
        font-size: 5vw;
    }
    
    .EditarPost input, .EditarPost textarea {
        width: 50%;
        font-size: 4.0vw;
    }

    .EditarPost textarea {
        height: 10vh;
    }

    .EditarPost label {
        font-size: 4.0vw;
    }
    
    

    .leftmep, .rightmep {
        height: fit-content;
    }

    .leftmep {
        width: 100%;
    }
    
    .rightmep {
        height: 10%;
        width: 100%;
        justify-content: normal;
    }

    #imagem-previewmep {
        height: 16vh;
        min-width: 50%;
    }

    .ilustracaomep img{
        max-width: 30vw;
        max-height: 15vh;
    }

    .botoesinferioresmep {
        margin-top: 3%;
    }

    .botoesinferioresmep button {
        font-size: 2.5vw;
        padding-bottom: 2.3px;
    }

    .bi-x-lg::before {
        font-size: 2.5vw;
    }
    
    .bi-x-lg{
        margin: 0%;
        padding: 2px;
    }

    .editmodal .Fechar {
        margin: 0px;
        background-color: #6f054ff0;
        padding: 5px;
    
    }


    .leftmep label{
        font-size: 4vw;
        
    }

    .rightmep label{
        font-size: 4vw;
    }

    .rightmep input{
        font-size: 1.9vw;
    }

    .rightmep #figurecaption{
        font-size: 2.4vw;

    }

    .rightmep img{
        height: 30vw;
    }

    .leftmep textarea{
        width: 80%;
        height: 52px;
        font-size: 2.3vw;
    }

    .leftmep input{
        font-size: 2.3vw;
        width: 80%;
        height: 12px;
    }

    .leftmep select{
        height: 12px;
        font-size: 2.3vw;
        width: 80%;
   }
   
   .rightmep{
        margin-top: 5px;
    }
    .rightmep input{
        width: 80%;
    }

    

}






@media screen and (min-width: 331px) and (max-width: 436px){
    .editmodal {
        width: 74%;
        background-image: url("../assets/mod_edit_posts/fundo-roxo-vertical.jpg");
        height: 595px;
        padding-top: 13px;
        
    }

    .editmodal {
        background-image: url("../assets/mod_edit_posts/fundo-roxo-vertical.jpg");
        border-radius: 0 0 6px 6px;
    }


    .modal-container-edit{
        background-image: none;
    }

    .inputsContainermep {
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }

    .dados-edit h2 {
        margin-left: -5%;
        font-size: 4.7vw;
        margin-top: 5px;
        margin-bottom: 7px;
    }
    
    
    .EditarPost input, .EditarPost textarea , .EditarPost select {
        width: 80%;
        font-size: 8.5px;
    }

    .EditarPost textarea {
        height: 10vh;
    }

    .EditarPost label {
        font-size: 8.5px;
    }

    .leftmep, .rightmep {
        height: fit-content;
    }

    .leftmep {
        width: 100%;
    }
    
    .rightmep {
        height: 10%;
        width: 100%;
        justify-content: normal;
        margin-top: 8px;

    }

    #imagem-previewmep {
        height: 16vh;
        min-width: 50%;
    }

    .ilustracaomep img{
        max-width: 30vw;
        max-height: 15vh;
    }

    .botoesinferioresmep {
        margin-top: 3%;
    }

    .botoesinferioresmep button {
        font-size: 2.3vw;
        padding-bottom: 2.3px;
    }

    .bi-x-lg::before {
        font-size: 9px;
    }


    #editModal .Fechar {
        margin: 0;
        padding: 5px;
    }
    
    .bi-x-lg{
        margin: 0%;
        padding: 2px;
    }

    .leftmep label{
        font-size: 4vw;
    }

    .rightmep label{
        font-size: 4vw;
    }

    .leftmep textarea{
        font-size: 8.5px
    }


    .leftmep > input{
        height: 14px;
        font-size: 8.5px;
    }

    .leftmep select{
        height: 14px;
        font-size: 8.5px;
    }

    .botoesinferioresmep {
        margin-bottom: 10px;
    }

    .rightmep input{
    
        font-size: 7.5px;
    }
    
    .rightmep img{
        width: 50vw;
        height: 140px;
    }

    .rightmep input{
        width: 70%;
    }

}



@media screen and (min-width: 437px) and (max-width: 769px) {
    .modal {
        width: 80%;
    }
    
    .modal-container-edit{
        background-image: none;
    }
    
    .rightmep{
        justify-content: center;
        margin-right: 7%;
    }
    .rightmep img {
        height: 15vw;
    }

    .leftmep label{
        font-size: 2vw;   
        margin-top: 5px;
    }

    .rightmep label{
        font-size: 2vw;
    }

    .leftmep h2{
        font-size: 3.2vw;
    }

    .leftmep select{
         height: 18px;
    }

    #editModal .Fechar button{
        font-size: 11px;
        padding-bottom: 1.5px;
    }
    
    .botoesinferioresmep {
        margin-bottom: 10px;
        font-size: 11px;
    }

    .botoesinferioresmep button{
        padding-bottom: 3.7px;
    }

    .rightmep input{
        width: 109%;
    }
}



@media screen and (min-width: 770px) and (max-width: 1025px) {
    .modal {
        width: 80%;
    }

    .rightmep{
        margin-right: 7%;
    }

    .leftmep textarea{
        height: 111px;
    }

    .leftmep label{
        font-size: 19px;
    }

    .leftmep select{
        height: 22px;
        font-size: 14px;
    }

    .rightmep label{
        font-size: 19px;
    }
    
    .escolherImg{
        font-size: 10px;
    }
    
    .bi-x-lg::before{
        margin-top: 1px;
        font-size: 1.5vw;
    }

    .botoesinferioresmep button{
        padding-bottom: 2.3px;
    }
    
    .rightmep input{
        width: 100%;
    }

}
