/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap');

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

h2.redirects {
    font-size: 1.2rem;
    font-family: "Manjari", sans-serif;
    color: #cfb698;
}

h2.redirects:hover {
    text-decoration: underline;
    text-underline-offset: 7%;
    text-decoration-thickness: 0.09rem;
}

div.navbarContainer {
    background-color: #401c2a;
    width: 100%;
    aspect-ratio: 10;
}

div.logoContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

div.redirectsContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}

div.navButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-right: 3%;
    justify-content: flex-end;
    align-items: center;
}

div.bottomRow {
    position: sticky;
    background-color: #401c2a;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6vw;
    box-shadow: 0 5px 4px rgba(58, 58, 58, 0.8);
}

/* Barra de pesquisa */

img.bottomRowIcons:hover {
    cursor: pointer;
}

input.searchInput {
    display: none;
    border: 0;
    height: 100%;
    outline: none;
    background: rgb(0, 0, 0, 0);
    padding-right: 0;
    font-family: "Manjari", sans-serif;
    color: #cfb698;
}
input.searchInput.selected {
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    padding: 0.2rem 0 0 0.8rem;
    align-items: center;
}


div.searchBar, div.singIn {
    display: flex;
    height: 46%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 0.2vw solid #cfb698;
    background: rgb(0, 0, 0, 0);
    margin-right: 2%;
}

div.searchBar.selected {
    aspect-ratio: 8;
    justify-content: flex-end;
    border-radius: 1.2vw;
    padding-right: 2%;
    transition: aspect-ratio 0.15s;
}



/* Telas menores */

@media screen and (max-width: 768px) {
    h2.redirects {
        font-size: 0.8rem;
        margin: 2% 0 2% 0;
    }

    div.navbarContainer {
        background-color: #401c2a;
        width: 100%;
        aspect-ratio: 7;
    }

    div.redirectsContainer {
        width: 100%;
    }

    div.searchBar {
        aspect-ratio: 8;
        justify-content: flex-end;
        border-radius: 2vw;
        padding-right: 2%;
        margin: 0 0 1vw 0;
    }

    div.bottomRow {
        display: flex;
        flex-direction: column;
        height: auto;
        box-shadow: 0 2px 1px rgba(58, 58, 58, 0.8);
    }
    
    div.navButtonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding-right: 0;
        margin-right: 3%;
    }

    div.searchBar, div.singIn {
        height: 5vw;
        width: auto;
        margin: 2vw 0 2vw 0.5vw;
    }

    div.signIn {
        align-self: flex-end;
    }
    

    input.searchInput {
        display: flex;
        font-size: 0.6rem;
        width: 100%;
        padding: 0.06rem 0 0 0.3rem;
        align-items: center;
    }
    /*   

    div.bottomRow {
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    div.redirectsContainer {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 60%;
        justify-content: space-evenly;
        align-items: center;
    }

    div.searchBar, div.singIn {
        height: 5vw;
    } */
}