/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap');

h2.redirects {
    font-size: 1.2rem;
    font-family: "Manjari", sans-serif;
    color: #cfb698;
}

div.navbarContainer {
    background-color: #401c2a;
    width: 100%;
    aspect-ratio: 7;
    /* border-bottom: solid rgb(0, 0, 0, 100%) 10px;
    border-bottom-style: outset; */
    box-shadow: 0 5px 4px rgba(58, 58, 58, 0.8);
}

div.logoContainer {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}

div.redirectsContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}

div.navButtonsContainer {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 30%;
    padding-right: 4%;
    justify-content: flex-end;
    align-items: center;
}
div.bottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
}

/* Barra de pesquisa */

img.lupa:hover {
    cursor: pointer;
}

input.searchInput {
    border: 0;
    padding: 0 0 0 0rem;
    height: 100%;
    width: 0%;
    outline: none;
    background: rgb(0, 0, 0, 0);
    padding-right: 0;
    font-family: "Manjari", sans-serif;
    color: #cfb698;
}
input.searchInput.selected {
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    padding: 0.2rem 0 0 0.8rem;
    align-items: center;
}


div.searchBar {
    display: flex;
    height: 110%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 0.2vw solid #cfb698;
    background: rgb(0, 0, 0, 0);
    padding-right: 0;
}

div.searchBar.selected {
    aspect-ratio: 8;
    justify-content: flex-end;
    border-radius: 1.2vw;
    padding-right: 2%;
    transition: aspect-ratio 0.15s;
}



/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* insert styles here */
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    zoom: 1;
}
