.pagination{
    display: flex;
    align-items: center;
    --bs-pagination-padding-y: 0.5vw;
    --bs-pagination-padding-x: 1vw;
}

.active>.page-link, .page-link.active {
    background-color: rgba(221, 11, 100, 0.5);
    border-color: #a79a9f;
    z-index: 2;
}

.page-link{
    background-color: #ddd;
    border-color: #a79a9f;
}

.page-link:hover{
    background-color: rgba(221, 11, 100, 0.5);
    border-color: #a79a9f;
}

@media (min-width:350px) and (max-width:680px){
    .pagination{
        --bs-pagination-padding-y: 1vw;
        --bs-pagination-padding-x: 2vw;
    }
}

@media (min-width: 0px) and (max-width:349px){
    .pagination{
        --bs-pagination-padding-y: 1vw;
        --bs-pagination-padding-x: 2.5vw;
    }
}