













































































































































































































































































































































































































































































































































































































































































































































































































































/*visualizar usuario */
#viewModal-post{
    font-family: 'Manjari', sans-serif;
    display: none;
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
    margin: 0%;
    padding: 0%;
    text-align: -webkit-right;
    
}
.modal-container-visualizacao-post {
    background-image: url("../assets/img-visualiz.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0%
    
}
#viewModal-post .fechar i{
    font-size: 1.4vw;
        
}
#viewModal-post button{
    margin: 0.4vw;
    padding: 0.5%;
    width: 2.4vw;
    background-color: #401c2a;
    color: #fff;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.3vw;
    justify-content: center;
    
}
#viewModal-post button:hover {
    background-color: #6f0550;
}

.dados-visualiz-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88%;
    font-size: 1.5vw;
    font-weight: 700;
}
.dados-visualiz-post h2{
    border: 0.3vw solid #6f0550; /* Espessura da borda e cor (preto) */
    padding: 0.6vw;
    padding-bottom: 0vw;
    margin: 0%;
    font-size: 2vw;
}
#PostInfo
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}
.ilutracao-visualiz-post{
    width: 40%;

}
.ilutracao-visualiz-post img{
    width: 100%;
}

.modal-visualiz-post .fechar{
    display: flex;
    background-color: #dd0b64;
    font-size: 0.8vw;
    margin: 0.2vw;
}
.modal-visualiz-post .fechar:hover{
    background-color: #dd0b6391;
}





@media screen and (min-width: 0px) and (max-width: 436px){
    #viewModal-post {
        width: 74%;
    }
    .modal-container-visualizacao-post {
        flex-direction: column-reverse;
    }
    .dados-visualiz-post{
        width: 92%;
        margin-left: 0%;
        font-size: 3.8vw;
    }
    .dados-visualiz-post h2{
        padding: 0.8vw;
        padding-bottom: 0vw;
        font-size: 3.5vw;
    }


    #viewModal-post .fechar i{
        font-size: 2.6vw;
    }
    #viewModal-post button{
        width: 3.6vw;
    }
}


@media screen and (min-width: 437px) and (max-width: 769px) {
    #viewModal-post {
        width: 80%;
    }
    .dados-visualiz-post{
        width: 100%;
        font-size: 2.2vw;
    }
    .ilutracao-visualiz-post {
        width: 45%;
    }

    #viewModal-post .fechar i{
        font-size: 1.4vw;
            
    }
    #viewModal-post button{
        margin: 0%;
        padding: 0.5%;
        width: 2.4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
}