





















































































































































































































































































































































































































































































































/*modal delte*/
#deleteModal {
    font-family: 'Manjari', sans-serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27%;
    background-color: #fff;
    z-index: 1;
    margin: 0%;
    padding: 0%;
    
}
.modal-container-delete {
    
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0%
    
}
.dados-delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    font-size: 1vw;
    font-weight: 700;
}
.dados-delete h2{
    margin: 0.5vw;
    margin-top: 1.5vw;

}
.dados-delete h3{
    margin: 0.5vw;
    margin-bottom: 1.5vw;

}
#deleteModal .ilutracao{
    width: 80%;
}
#deleteModal .ilutracao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#deleteModal .botoes button {
    padding: 0.45vw;
    padding-bottom: 0.2vw;
    margin-bottom: 0.5vw;
    cursor: pointer;
    background-color: #6f0550;
    color: #fff;
    border: none;
    border-radius: 0.3vw;
    font-size: 0.95vw;
    font-family: 'Manjari', sans-serif;
}
#deleteModal .botoes button:hover {
    background-color: #a7107a;
}


@media screen and (min-width: 436px) and (max-width: 800px){
    #deleteModal{
        width: 40%;
    }
    #deleteModal .botoes button{
        font-size: 1.5vw;
        border-radius: 0.7vw;
        padding: 0.8vw;
        padding-bottom: 0.1vw;
    }
    .dados-delete{
        font-size: 1.5vw;
    }

}
@media screen and (min-width: 0px) and (max-width: 435px){
    #deleteModal{
        width: 71%;
    }
    #deleteModal .botoes button{
        font-size: 3vw;
        border-radius: 0.7vw;
        padding: 1vw;
        padding-bottom: 0.1vw;
    }
    .dados-delete{
        font-size: 2.8vw;
    }

}