body {
    background-color: #CFB698;
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Manjari', sans-serif;
}

.ondastitulo {
    width: 100%;
    margin: 0;
    padding: 0;
}

.ondastitulo svg {
    margin: -5px 0 0 0;
    padding: 0;
}

.ondastitulo g, .ondastitulo path {
    margin: 0;
}

.titulopvi {
    text-align: center;
    color: #401C2A;
    font-size: 70px;
}


.imagedivpvi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float: left;
    height: auto;
    width: 35%;
    border-radius: 25px;
    background: rgba(221, 11, 100, 0.60);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.30);
    padding: 0;
    margin: 3%;
}

.imagedivpvi img {
    width: 85%;
    height: auto;
    vertical-align: middle;
    margin: 5% 0 0 0;
    max-width: 100%;
}

.opacityimgpvi {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.imagedivpvi figcaption {
    width: 80%;
    text-align: center;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1%;
    margin-top: 2%;
}

.corpopvi p {
    color: #000;
    text-align: justify;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.75%;
    letter-spacing: 3px;
    /* padding-top: 5%; */
    margin: 1% 5% 1% 5%;
    text-indent: 5%;
}

.corpopvi h2 {
    color: #000;
    font-family: 'Manjari', sans-serif;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    clear: both;
}

@media only screen and (max-width: 1280px) {
    .corpopvi p {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .corpopvi h2{
        font-size: 20px;
    }

    .imagedivpvi figcaption {
        font-size: 16px;
    }

    .imagedivpvi {
        width: 40%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .corpopvi {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .corpopvi p {
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 0;
    }

    .corpopvi h2 {
        font-size: 12px;
    }

    .imagedivpvi {
        width: 60%;
        height: auto;
        float: none;
    }

    .imagedivpvi figcaption {
        font-size: 12px;
    }
}

@media only screen and (max-width: 700px) {
    .imagedivpvi figcaption {
        font-size: 14px;
    }

}

@media only screen and (max-width: 400px) {
    .imagedivpvi figcaption {
        font-size: 10px;
    }

}

@media only screen and (max-width: 300px) {
    .imagedivpvi figcaption {
        font-size: 8px;
    }

}