body {
    background-color: #CFB698;
    margin: 0 0 0 0;
    padding: 0;
}

.ondastitulo {
    width: 100%;
    margin: 0;
}

.titulopvi {
    text-align: center;
    color: #401C2A;
    font-family: 'Manjari', sans-serif;
}

.navpvi {
    background-color: #401C2A;
    height: 60px;
    width: 100%;
    margin-bottom: 0;
}


.imagedivpvi {
    float: left;
    text-align: center;
    background-color: aqua;
    height: auto;
    width: auto;
    border-radius: 25px;
    background: rgba(221, 11, 100, 0.60);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.30);
    padding: 5px;
    margin: 2%;
}

.imagedivpvi img {
    width: 88%;
    height: auto;
    vertical-align: middle;
    margin: 4% 4% 0 5%;
    max-width: 100%;
}

.imagedivpvi figcaption {
    width: 85%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #000;
    font-family: 'Manjari', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.corpopvi p {
    color: #000;
    text-align: justify;
    font-family: 'Manjari', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.75%;
    letter-spacing: 3px;
    padding-top: 5%;
    margin: 5%;
}

@media only screen and (max-width: 1200px) {
    .corpopvi p {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .imagedivpvi figcaption {
        font-size: 16px;
    }

    .imagedivpvi {
        width: 40%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .corpopvi p {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .imagedivpvi {
        width: 60%;
        height: auto;
        float: none;
        display: block;
    }

    .imagedivpvi figcaption {
        font-size: 12px;
    }

    .corpopvi {
        direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}