@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap');

*{
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
}


.nav1{
    
    background: linear-gradient(180deg, rgba(146, 0, 61, 0.795) 20%, rgb(161, 22, 0) 120%);
    position: fixed;
    top: 6%;
    left: 1%;
    z-index: 1;
    overflow: hidden;
    flex-direction: column;
    width:50px;
    height: fit-content;
    margin-top: 1.6%;
    margin-left: 5px;
    border-radius: 10px;
}

.nav1:hover{
    width: 250px;
}

.botao{
    width: 20%;
    margin-left: 8px;
    padding-top: 15px;
    padding-left: 3%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    
}

.navegador{
    height: auto;
    list-style-type: none;
}

.navegador a{
    width: 250px;
    height: fit-content;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    padding: 20px 4%;
    text-decoration: none;
    line-height: 40px;
}

.texto{
    margin-left: 20px;
}
a.texto{
    display: flex;
}

.logout a {
    width: 250px;
    margin-top: 18vh;
    margin-left: 1px;
    height: fit-content;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    padding: 20px 4%;
    line-height: 40px;
}

a{
    transition: all .2s;
}
.logout a.texto{
    margin-left: 20px;
}

.logout a:hover,
.navegador a:hover{
    background-color: #dd0b64;
}



.icone{
    font-size: 30px;
    margin-left: 8px;
}
.texto{
    font-family: 'Manjari', sans-serif;
    margin-left: 14px;
}



@media (min-width:281px) and (max-width: 319px){
   
    .nav1:hover{
        width: 180px;
    }
    
    .navegador{
        height: 74%;
    }
    .logout a,
    .navegador a{
        width: 180px;
        line-height: 24px;
    }

    .logout a:hover,
    .navegador a:hover{
    background-color: #dd0b64;
    
    }

    .texto{
        font-size: 14px;
        line-height: 24px;
        margin-top: -11px;
    }
    .icone{
        font-size: 20px;
        margin-left: 6px;
    }
    .botao{
        font-size: 24px;
        margin-left: 6px;
    }
   
}

@media screen and (max-width:768px){
    .nav1:hover{
        width: 170px;
    }

    .logout a,
    .navegador a{
        width: 180px;
    }
    
    .texto{
        font-size: 18px;
        line-height: 30px;
        margin-top: -5px;
    }
    .icone{
        font-size: 25px;
        margin-left: 10px;
    }
    .botao{
        font-size: 24px;
        margin-left: 10px;
    }
}


