<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../public/css/dashboard.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../../../public/css/sidebar.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
    </head>

    <body>
        <div class="nav1">
            <div class="botao">
                <i class="bi bi-list"></i>
             </div>
             
             <div class="navegador">
                <a href="#">
                    <span class="icone"><i class="bi bi-columns-gap"></i></span>
                    <span class="texto">Dashboard</span>
                </a>
           
                <a href="#">
                    <span class="icone"><i class="bi bi-people-fill"></i></span>
                    <span class="texto">Usuários</span>
                </a>
            
                <a href="#">
                    <span class="icone"><i class="bi bi-file-earmark-post"></i></span>
                    <span class="texto">Posts</span>
                </a>
           
            
            </div>
            
                <div class="logout">
                    <a href="#">
                        <span class="icone"><i class="bi bi-box-arrow-right"></i></span>
                        <span class="texto">Log Out</span>
                    </a>
                </div>
</div>
        <div class="nav">
            <h1>DASHBOARD</h1>
            <div class="logoutBtn" >
                <h2>Log out</h2>
                <img src="../../../public/assets/dashboard/🦆 icon _log out_.svg" alt="Log Out">
            </div>
        </div>
        <div class="cards">
            <div>
                <img src="../../../public/assets/dashboard/🦆 icon _people_.svg" alt="Users">
                <h2>Gerenciar Usuários</h2>
            </div>
            <div>
                <img src="../../../public/assets/dashboard/🦆 icon _file add_.svg" alt="Posts">
                <h2>Gerenciar Publicações</h2>
            </div>
        </div>
    </body>
</html>
