<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../public/css/mod_ed_posts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="../../../public/js/mod_edit_posts.js"></script>
    <title>Lista de Posts</title>
</head>
<body>

    <!-- Botões para abrir os modais -->
    <button onclick="openModal('createModal')">Criar Post</button>
    <button onclick="openModal('viewModal')">Visualizar Posts</button>
    <button onclick="openModal('editModal')">Editar Post</button>
    <button onclick="openModal('deleteModal')">Deletar Post</button>

    <!-- Sobreposição -->
    <div id="overlay" class="overlay" onclick="closeModal()"></div>

    <!-- Modais -->

    <div id="editModal" class="modal">
       <!--botão de fechar o modal-->
       <button class="Fechar" onclick="closeModal('createModal')"><i class="bi bi-x-lg"></i></button>
       <div class="modal-container-edit">
           <!-- Formulário para eidtar post -->
           <div class="dados-edit">

               <h2>Editar Post</h2>
            <form class="EditarPost" method="post" enctype="multipart/form-data">
                <label for="titulopost">Título:</label>
                <input type="text" name="titulopost" id="titulopost" required>
                <br>
                <label for="conteudopost">Conteúdo:</label>
                <textarea name="conteudopost" id="conteudopost" required></textarea>
                <br>
                <label for="imagempost">Imagem:</label>
                <input type="file" name="imagempost" id="imagempost" accept="image/*" onchange="previewImage()">
                <br>
                <label for="data_criacaopost">Data de Criação:</label>
                <input type="date" name="data_criacaopost" id="data_criacaopost" required>
                <br>
                <label for="autorpost">Autor (Usuário):</label>
                <input type="text" name="autorpost" id="autorpost" required>
                <br>
               <button type="reset">Limpar seções</button>
            </form>           
           </div>
           <div class="ilustracaomep">
            <img id="imagem-preview" src="" alt="Preview da Imagem" style="max-width: 300px;">
        </div>
            <!--caso queria colocar alguma ilustracao, desenho ou imagem para o design dessa pagina que abre do modal, coloque aqui -->
       </div>
       <!--botão de salvar o formulario-->
       <button id="botaosalvar" onclick="confirmarSalvarFormularioposts()" >Salvar</button> 
    </div>

</body>
</html>
