<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../public/css/postListAdm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="../../../public/js/postListadm.js"></script>
    <title>Lista de Posts</title>
</head>
<body>

    <!-- Botões para abrir os modais -->
    <button onclick="openModal('createModal')">Criar Post</button>
    <button onclick="openModal('viewModal-post')">Visualizar Posts</button>
    <button onclick="openModal('editModal')">Editar Post</button>
    <button onclick="openModal('deleteModal')">Deletar Post</button>

    <!-- Sobreposição -->
    <div id="overlay" class="overlay" onclick="closeModal()"></div>

   



























































































    <div id="viewModal-post" class="modal">
        <button onclick="closeModal('viewModal-post')" class="fechar"><i class="bi bi-x-lg"></i></button>
        <div class="modal-container-visualizacao-post">
            <div class="dados-visualiz-post">
                <h2>Dados do Post</h2>
                <div id="PostInfo">
                        
                    <p><strong>Id:</strong> <span id="viewid"></span></p>
                    <p><strong>Titulo:</strong> <span id="viewtitulo"></span></p>
                    <p><strong>Conteúdo:</strong> <span id="viewConteúdo"></span></p>
                    <img id="modalImage" src="" alt="Imagem do Post">
                    <p><strong>Data de Criação:</strong> <span id="modalDate"></span></p>
                    <p><strong>Autor:</strong> <span id="modalAuthor"></span></p>

                </div>
            </div>
            <div class="ilutracao-visualiz-post">
                <img src="../../../public/assets/visualiz-post.png">
            </div>
        </div> 
    </div>

</body>
</html>
