<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../public/css/sidebar copy.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Sidebar</title>
</head>

<body>
    <div id="overlay1"></div>

    
        <div class="nav1">
        <div class="classe-teste">
            <div class="botao">
                <i class="bi bi-list" id="bb"></i>
            </div>

            <div class="navegador">
                <a  href="/admin">
                    <span class="icone"><i class="bi bi-columns-gap"></i></span>
                    <span class="texto">Dashboard</span>
                </a>

                <a href="/admin/users">
                    <span class="icone"><i class="bi bi-people-fill"></i></span>
                    <span class="texto">Usuários</span>
                </a>

                <a href="/admin/posts">
                    <span class="icone"><i class="bi bi-file-earmark-post"></i></span>
                    <span class="texto">Posts</span>
                </a>
            </div>
        </div>

            <div class="logout">
                <a href="/admin/logout">
                    <span class="icone"><i class="bi bi-box-arrow-right"></i></span>
                    <span class="texto">Log Out</span>
                </a>
            </div>
        </div>

        <script>
            const buttonEl = document.querySelector("#bb")
            const sideEl = document.querySelector(".nav1")
            
    
            const opened = () => {
                
    
                if (sideEl.classList.contains("grande")) {
                    sideEl.classList.remove("grande");
                    telaEl.classList.remove("css");
                    document.getElementById('overlay1').style.display = "none";
    
    
                } else {
                    sideEl.classList.add("grande");

                    telaEl.classList.add("css");
                    document.getElementById('overlay1').style.display = 'block';
                }
            }
    
            buttonEl.addEventListener("click", opened)
    
            
            
                
           
        </script>
    
    </body>
    
    </html>