<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Sidebar</title>
</head>
<body>
    
    <nav class="navegador">
        <ul>
            <li>
                <a href="#">
                    <span class="icone"><i class="bi bi-house-door"></i></span>
                    <span class="texto">Home</span>
                </a>
            </li>
       
            <li>
                <a href="#">
                    <span class="icone"><i class="bi bi-columns-gap"></i></span>
                    <span class="texto">Dashboard</span>
                </a>
            </li>
        
            <li>
                <a href="#">
                    <span class="icone"><i class="bi bi-people-fill"></i></span>
                    <span class="texto">Listas de Usuários</span>
                </a>
            </li>
        
            <li>
                <a href="#">
                    <span class="icone"><i class="bi bi-file-earmark-post"></i></span>
                    <span class="texto">Listas de Posts</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>