<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="../../../public/css/userList.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="../../../public/js/userList.js"></script>
</head>
<body>

    <div class="headerula">
        <h1>Lista de Usuários</h1>
        <button onclick="openModal('createModal')">Criar Usuário</button>
    </div>
    <div class="mainula">
            <div class="grid-container legendagridula">
            <div class="grid-item col1">ID</div>
            <div class="grid-item col2">Username</div>
            <div class="grid-item col3">Email</div>
            <div class="grid-item col4">Ações</div>
        </div>

        <div class="grid-container">
            <div class="grid-item col1">Item 1</div>
            <div class="grid-item col2">Item 2</div>
            <div class="grid-item col3">Item 3</div>
            <div class="grid-item col4">
                <button onclick="openModal('viewModal')">Visualizar</button>
                <button onclick="openModal('editModal')">Editar</button>
                <button onclick="openModal('deleteModal')"><img class="deleteimgula" alt="deletar usuario" src="../../../public/imagens/delete.png">  Deletar</button>
            </div>
            <div class="grid-item col1">Item 4</div>
            <div class="grid-item col2">Item 5</div>
            <div class="grid-item col3">Item 6</div>
            <div class="grid-item col4">
                <button onclick="openModal('viewModal')">Visualizar</button>
                <button onclick="openModal('editModal')">Editar</button>
                <button onclick="openModal('deleteModal')"><img class="deleteimgula" alt="deletar usuario" src="../../../public/imagens/delete.png">  Deletar</button>
            </div>
        </div>
    </div>


    <!-- Sobreposição -->
    <div id="overlay" class="overlay" onclick="closeModal()"></div>

    <!-- Modais -->
    <div id="createModal" class="modal">
        <div class="modal-container">
            <h2>Criar Usuário</h2>
            <form class="criaruser">
                <label for="username">Nome de Usuário:</label>
                <input type="text" id="username" name="username">
                <label for="useremail">Email do Usuário</label>
                <input type="email" id="useremail" name="useremail">
                <label for="userpassword">Senha do Usuário</label>
                <input type="password" id="userpassword" name="userpassword">
            </form>
            <button onclick="closeModal('createModal')">Fechar</button>
        </div>
    </div>

    <div id="viewModal" class="modal">
        <div class="modal-container">
            <h2>Visualizar Usuário</h2>
            <!-- Lista de posts -->
            <button onclick="closeModal('viewModal')">Fechar</button>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal-container">
            <h2>Editar Usuário</h2>
            <!-- Formulário para editar post -->
            <button onclick="closeModal('editModal')">Fechar</button>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-container">
            <h2>Deletar Usuário</h2>
            <!-- Confirmação de exclusão -->
            <h3>Realmente deseja deletar esse Usuário?</h3>
            <button onclick="confirmDelete()">Confirmar</button>
            <button onclick="closeModal('deleteModal')">Cancelar</button>
        </div>
    </div>

</body>
</html>
