
    <head>
        <link rel="stylesheet" href="../../../public/css/footer.css">
        <link rel="stylesheet" href="../../../public/css/global.css">
    </head>

    <div class="footerContainer">
        <div class="duvidasContainer">
            <h2 class="duvidas">Dúvidas ou sugestões?</h2>
            <h2 class="duvidas">Entre em contato por meio de nossos canais:</h2>
        </div>
        <div class="socialsRow">
            <div class="socialsContainer">
                <a><img src="../../../public/assets/footer/Group 17.png" height="50%"></a>
                <a><img src="../../../public/assets/footer/Group 23.png" height="50%"></a>
                <a><img src="../../../public/assets/footer/Group 24.png" height="50%"></a>
                <a><img src="../../../public/assets/footer/Group 25.png" height="50%"></a>
            </div>
        </div>
        <div class="bottomRow">
            <div class="roundLogoContainer"><img src="../../../public/assets/footer/round_logo.png" height="100%"></div>
            <div class="absoluteLine">
                <div class="tripeContainer">
                    <div id="mvvMissao" class="mvvContainer">
                        <h2 class="redirects">MISSÃO</h2>
                        <img id="missaoImg" class="seta" src="../../../public/assets/footer/seta.png" height="100%">
                    </div>
                    <div id="mvvVisao" class="mvvContainer">
                        <h2 class="redirects">VISÃO</h2>
                        <img id="visaoImg" class="seta" src="../../../public/assets/footer/seta.png" height="100%">
                    </div>
                    <div id="mvvValores" class="mvvContainer">
                        <h2 class="redirects">VALORES</h2>
                        <img id="valoresImg" class="seta" src="../../../public/assets/footer/seta.png" height="100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="mvvRow">
            <div class="mvvTextsContainer">
                <h2 id="missaoTxt" class="mvvTexts">Capacitar e conectar
                    mulheres na tecnologia,
                    fornecendo recursos 
                    para que elas alcancem
                    seu pleno potencial.</h2>
                <h2 id="visaoTxt" class="mvvTexts">Um mundo onde as mulheres estão
                    igualmente representadas e liderando
                    na indústria de tecnologia,moldando 
                    o futuro da área e promovendo a 
                    igualdade de gênero.</h2>
                <h2 id="valoresTxt" class="mvvTexts">Empoderamento<br>Inclusão<br>Educação<br>Respeito<br>Inovação</h2>
            </div>
        </div>
    </div>

    <script src="../../../public/js/footer.js"></script>
