<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/listas-de-posts.css">
    <link rel="stylesheet" href="../../../public/css/global.css">
    <title>Listas De Posts</title>
</head>
<body>
    <div class="cardContainer">
        <div class="cardHover">
            <img id="lerMais" src="../../../public/assets/botao_hover.png">
        </div>
        <div class="blurrableDiv">
            <div class="imgContainer">
                <img class="backgroundImg" src="../../../public/assets/adalovelace.webp">
            </div>
            <div class="absoluteTitleContainer">
                <h1>Ada Lovelace Lorem Ipsum</h1>
            </div>
            <div class="previewContainer">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum rutrum lectus facilisis ultricies. Aenean lacinia sem mauris, eu feugiat enim tempus eu. Donec mattis ligula eu lacus faucibus placerat. Etiam rhoncus pellentesque nisl, sit amet finibus erat egestas eu. Ut sed erat fringilla, gravida nulla id, cursus turpis. Nunc efficitur, dui gravida condimentum malesuada, urna ligula tincidunt urna, ac maximus nisl risus vitae nibh. Mauris gravida, dui quis ullamcorper faucibus, sapien lacus porta sem, et laoreet augue nisl non purus.</h2>
            </div>
        </div>
    </div>

    <div class="cardContainer">
        <div class="cardHover">
            <img id="lerMais" src="../../../public/assets/botao_hover.png">
        </div>
        <div class="blurrableDiv">
            <div class="imgContainer">
                <img class="backgroundImg" src="../../../public/assets/adalovelace.webp">
            </div>
            <div class="absoluteTitleContainer">
                <h1>Ada Lovelace Lorem Ipsum</h1>
            </div>
            <div class="previewContainer">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum rutrum lectus facilisis ultricies. Aenean lacinia sem mauris, eu feugiat enim tempus eu. Donec mattis ligula eu lacus faucibus placerat. Etiam rhoncus pellentesque nisl, sit amet finibus erat egestas eu. Ut sed erat fringilla, gravida nulla id, cursus turpis. Nunc efficitur, dui gravida condimentum malesuada, urna ligula tincidunt urna, ac maximus nisl risus vitae nibh. Mauris gravida, dui quis ullamcorper faucibus, sapien lacus porta sem, et laoreet augue nisl non purus.</h2>
            </div>
        </div>
    </div>

    <div class="cardContainer">
        <div class="cardHover">
            <img id="lerMais" src="../../../public/assets/botao_hover.png">
        </div>
        <div class="blurrableDiv">
            <div class="imgContainer">
                <img class="backgroundImg" src="../../../public/assets/adalovelace.webp">
            </div>
            <div class="absoluteTitleContainer">
                <h1>Ada Lovelace Lorem Ipsum</h1>
            </div>
            <div class="previewContainer">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum rutrum lectus facilisis ultricies. Aenean lacinia sem mauris, eu feugiat enim tempus eu. Donec mattis ligula eu lacus faucibus placerat. Etiam rhoncus pellentesque nisl, sit amet finibus erat egestas eu. Ut sed erat fringilla, gravida nulla id, cursus turpis. Nunc efficitur, dui gravida condimentum malesuada, urna ligula tincidunt urna, ac maximus nisl risus vitae nibh. Mauris gravida, dui quis ullamcorper faucibus, sapien lacus porta sem, et laoreet augue nisl non purus.</h2>
            </div>
        </div>
    </div>

    <nav>
        <ul>
          
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          
        </ul>
      </nav>

</body>
</html>

    <script>
        const NumberPage = 5
        for(var page = 4; page <= NumberPage; page++){
        const newPage = document.createElement("li")
        newPage.classList.add("page-item")

        const PageNumber = document.createElement("a")
        PageNumber.classList.add("page-link")
        PageNumber.setAttribute("href", `https://google.com/${page}`)
        PageNumber.append(page)

        newPage.append(PageNumber)

        const newList = document.querySelector("ul")
        newList.append(newPage)
        }
    </script>