<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../../../public/css/navbar.css">
        <link rel="stylesheet" href="../../../public/css/global.css">
    </head>

    <div class="navbarContainer">
        <div class="logoContainer">
            <img src="../../../public/assets/navbar/saltoaltologo.png" height="110%" width="auto">
        </div>
    </div>
    <div class="bottomRow">
        <div class="redirectsContainer">
            <a href=""><h2 id="inicio" class="redirects">INÍCIO</h2></a>
            <a href=""><h2 id="blog" class="redirects">BLOG</h2></a>
            <a href=""><h2 id="contato" class="redirects">CONTATO</h2></a>
        </div>
        <div class="navButtonsContainer">
            <div class="searchBar" tabindex="-1">
                <input type="text" class="searchInput" tabindex="-1" height="auto" width="0%">
                <img id="lupa" class="bottomRowIcons" src="../../../public/assets/navbar/lupa.png" height="60%" width="auto">
            </div>
                <div class="searchBar" tabindex="-1">
                    <img id="signIn" class="bottomRowIcons" src="../../../public/assets/navbar/person-fill.png" height="60%" width="auto">
                </div>
            <script src="../../../public/js/navbar.js"></script>
        </div>
    </div>
</html>
